<h2><strong><%= @cities.name %></strong></h2>
<!--<p><%#= @region.name %></p>-->
<hr>

<h4>Camp sites in this city</h4>

<%# @region.cities.each do |city| %>
<!--  <div class="alert alert-light">-->
<!--    <h3><strong><%#=city.name %></strong></h3>-->
    <%#= link_to "More info", city_path(city),:class => 'btn btn-outline-primary' %>
<!--  </div>-->
<%# end %>
<!--<br>-->


<!--<h5>Add new city</h5>-->
<%#= form_for([@region, @region.cities.build], remote: true) do |f|%>
<!--  <p>-->
<!--    New city <br>-->
    <%#= f.text_field(:name, {:class => 'form-control'}) %>
<!--  </p>-->

<!--  <p>-->
    <%#= f.submit("Add",{:class => 'btn btn-warning'}) %>
<!--  </p>-->
<%# end %>